In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import api_key

In [12]:
city_data_df = pd.read_csv("data_cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,luanda,3,AO,1563902863,83,-8.83,13.24,73.40,5.82
1,1,dikson,5,RU,1563902930,90,73.51,80.55,34.72,2.95
2,2,hithadhoo,99,MV,1563902930,76,-0.60,73.08,83.32,7.61
3,3,codrington,0,AU,1563902819,87,-28.95,153.24,55.99,9.17
4,4,tiznit,7,MA,1563902930,92,29.70,-9.73,69.10,11.77

In [21]:
# Configure gmaps
gmaps.configure(api_key=" no puedo dejar el api key porque google me manda alerta de seguridad")

In [23]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
city_df2 = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) & (city_data_df["Wind Speed"] < 10) & (city_data_df["Cloudiness"] == 0)].dropna()
city_df2

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
43,43,goderich,0,CA,1563902935,54,43.74,-81.71,75.99,8.99
97,97,athabasca,0,CA,1563902942,50,54.72,-113.29,79.18,5.21
180,180,lusambo,0,CD,1563902953,26,-4.97,23.44,74.68,2.10
215,215,praia,0,BR,1563902957,38,-20.25,-43.81,77.00,5.82
280,280,bandrele,0,YT,1563902966,69,-12.91,45.19,77.00,9.17
303,303,paldiski,0,EE,1563902969,77,59.35,24.08,71.60,9.17
396,396,wana,0,PK,1563902981,65,32.31,69.59,71.62,1.88
427,427,esmeraldas,0,BR,1563902925,38,-19.76,-44.31,77.00,5.82
471,471,zhezkazgan,0,KZ,1563902991,42,47.80,67.71,73.06,8.61
525,525,sitka,0,US,1563902998,51,37.17,-99.65,77.00,1.01